<!-- start custom head snippets -->
<link href="https://fonts.googleapis.com/css?family=Heebo:300" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Domine" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Gilda+Display" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Libre+Baskerville" rel="stylesheet">

<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-4265610880813101",
    enable_page_level_ads: true
  });
</script>


<!-- insert favicons. use http://realfavicongenerator.net/ -->

<!-- end custom head snippets -->
