{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}


<div class= "gridarchive">
<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    {% if include.type == "grid" and teaser %}
      <div class="archive__item-teaser">
        <img src=
          {% if teaser contains "://" %}
            "{{ teaser }}"
          {% else %}
            "{{ teaser | absolute_url }}"
          {% endif %}
          alt="">
      </div>
    {% endif %}
    <h1 class="archive__item-title" itemprop="headline">
      <div class="posttitlearchive">
        <a href="{{ post.url | absolute_url }}" rel="permalink">
          {% if posy.video %}
            <video width="100%" autoplay loop muted class="banner__video" poster="{{post.thumbnail}}">
              <source src="{{post.video}}" type="video/mp4">
            </video>
            {% elsif post.thumbnail %}
            <img src="{{post.thumbnail}}"/>
            {% endif %}
        </a>
      </div>
      <div class="posttitle">
        {{ title }}
      </div>
      <div class="posttaglist">   
        {% include tag-list-archive.html %}
      </div>
    </h1>
  </article>
</div>
</div>
