/* ==========================================================================
    ARCHIVE
    ========================================================================== */
 
 .archive {
   margin-bottom: 2em;
   align: center;
   float: center;
 }
 
 .archive__item-title {
   margin-bottom: 0.25em;
   font-family: $serif;
   font-size: 2em;
   margin-top: .5em;
   a + a {
     opacity: 0.5;
   }
 }

 .posttitle {
   margin-bottom: 0.25em;
   font-family: $serif-narrow;
   font-size: 1.25em;
   margin-top: 1em;
   a + a {
     opacity: 0.5;
   }
 }
 
 .posttaglist {
   margin-bottom: 0.25em;
   font-family: $sans-serif;
   font-size: .5em;
   margin-top: .5em;
   color: grey;
   a + a {
     opacity: 0.5;
   }
 }
 
 /*
 
 .archive__item:hover {
   .archive__item-teaser {
     box-shadow: 0 0 10px rgba(#000, 0.25);
   }
 
   .archive__item-title {
     text-decoration: underline;
   }
 }
 
 */
 
 /* remove border*/
 .page__content {
 
   .archive__item-title {
     margin-top: 1em;
     border-bottom: none;
     text-align: center;
   }
 }
 
 
 .archive__item-excerpt {
   margin-top: 0;
   font-size: $type-size-6;
 
   & + p {
     text-indent: 0;
   }
 }
 
 .archive__item-teaser {
   border-radius: $border-radius;
   overflow: hidden;
   img {
     width: 100%;
   }
 }
 
 /*
 .archive__item:hover {
   .archive__item-teaser {
     box-shadow: 0 0 10px rgba(#000, 0.25);
   }
 
   .archive__item-title {
     text-decoration: underline;
      color: white;
   }
 }
 */
 
 
 /*
    Grid view
    ========================================================================== */
 
 .grid__item {
   margin-bottom: 2em;
   .archive__item-title {
     margin-top: 0.5em;
     font-size: $type-size-5; letter-spacing: 2 px;
   }
 
   .archive__item-excerpt {
     display: none;
   }
 
   @include breakpoint ($small) {
        @include span(12 of 12 split);
        .archive__item-teaser {
            max-height: 200px;
       }
   }
 
   @include breakpoint ($medium) {
        @include span(6 of 12 split);
        &:nth-child(3), {@include span(12 of 12 split);}    
   }
     
   .page__meta {
     margin: 0 0 4px;
   }

}
