---
layout: default
---

{% if page.header.overlay_color or page.header.overlay_image or page.header.image %}
  {% include page__hero.html %}
{% endif %}

{% if page.url != "/" and site.breadcrumbs %}
  {% unless paginator %}
    {% include breadcrumbs.html %}
  {% endunless %}
{% endif %}

<div id="main" role="main">

  <article class="page" itemscope itemtype="http://schema.org/CreativeWork">
    {% if page.title %}<meta itemprop="headline" content="{{ page.title | markdownify | strip_html | strip_newlines | escape_once | margin-top: 200px }}">{% endif %}
    {% if page.excerpt %}<meta itemprop="description" content="{{ page.excerpt | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
    {% if page.date %}<meta itemprop="datePublished" content="{{ page.date | date: "%B %d, %Y" }}">{% endif %}
    {% if page.modified %}<meta itemprop="dateModified" content="{{ page.modified | date: "%B %d, %Y" }}">{% endif %}

    <div class="page__inner-wrap">
      {% unless page.header.overlay_color or page.header.overlay_image %}
        <header>
          <div id="figure">
            {% if page.video %}
            <video width="100%" autoplay loop muted class="banner__video" poster="{{page.thumbnail}}">
              <source src="{{ page.video }}" type="video/mp4">
            </video>
            {% elsif page.thumbnail %}
            <img src="{{page.thumbnail}}"/>
            {% endif %}
            {% if page.title %}
            <div id="figcaption">
              <div id="box">
              <h1> {{ page.title | markdownify | remove: "<p>" | remove: "</p>" }}</h1>
              </div>
            </div>
            {% endif %}
          </div>
      </header>
      {% endunless %}
      <div id= "spacer"> </div>
      {{ page.description}}
      <div id="spacer"> </div>
      
      <div id= "recipedetails">
      <div id= "time"> Time </div>
      <div id= "spice"> Spice </div>
      <div id= "serves"> Serves </div>
      </div>

      <div id= "recipenumbers">
      <div id= "time"><h3> {{ page.time }} </h3> </div>
      <div id= "spice"><h3> {{ page.spice }} </h3> </div>
      <div id= "serves"><h3> {{ page.serves }} </h3> </div>
      </div>

      <div id= "nutritiondetails">
      <div id="calories"> Calories </div>
      <div id="carbs"> Carbs </div>
      <div id="fiber"> Fiber </div>
      <div id="fat"> Fat </div>
      <div id="protein"> Protein </div>
      </div>

      <div id= "nutritionnumbers">
      <div id="calories"><h3> {{ page.calories }} </h3> </div>
      <div id="carbs"><h3> {{ page.carbs }}</h3> </div>
      <div id="fiber"><h3> {{ page.fiber }}</h3> </div>
      <div id="fat"><h3> {{ page.fat }}</h3> </div>
      <div id="protein"><h3> {{ page.protein }}</h3> </div>
      </div>
      
      <div id= "ingredienthdr">
      <h1>Ingredients</h1>
      </div>
      
        <div class="ingredients">
        <div id="ingredient1">{{page.ingredient1}}</div>
        <div id="ingredient2">{{page.ingredient2}}</div>
        <div id="ingredient3">{{page.ingredient3}}</div>
        <div id="ingredient4">{{page.ingredient4}}</div>
        </div>
      
        <div class="ingredients">
        <div id="ingredient5">{{page.ingredient5}}</div>
        <div id="ingredient6">{{page.ingredient6}}</div>
        <div id="ingredient7">{{page.ingredient7}}</div>
        <div id="ingredient8">{{page.ingredient8}}</div>
        </div>
      
        <div class="ingredients">
        <div id="ingredient9">{{page.ingredient9}}</div>
        <div id="ingredient10">{{page.ingredient10}}</div>
        <div id="ingredient11">{{page.ingredient11}}</div>
        <div id="ingredient12">{{page.ingredient12}}</div>
        </div>
      
        <div class="ingredients">
        <div id="ingredient13">{{page.ingredient13}}</div>
        <div id="ingredient14">{{page.ingredient14}}</div>
        <div id="ingredient15">{{page.ingredient15}}</div>
        <div id="ingredient16">{{page.ingredient16}}</div>
        </div>
      
       <div class="ingredients">
        <div id="ingredient13">{{page.ingredient17}}</div>
        <div id="ingredient14">{{page.ingredient18}}</div>
        <div id="ingredient15">{{page.ingredient19}}</div>
        <div id="ingredient16">{{page.ingredient20}}</div>
        </div>
      ``</div>
    
<div id= "equipmenthdr">
<h1>Equipment</h1>
</div>
        
         <div class="equipment">
        <div id="equipment1">{{page.equipment1}}</div>
        <div id="equipment2">{{page.equipment2}}</div>
        <div id="equipment3">{{page.equipment3}}</div>
        <div id="equipment4">{{page.equipment4}}</div>
        </div>
    
        <div class="equipment">
        <div id="equipment5">{{page.equipment5}}</div>
        <div id="equipment6">{{page.equipment6}}</div>
        <div id="equipment7">{{page.equipment7}}</div>
        <div id="equipment8">{{page.equipment8}}</div>
        </div>
    
      <section class="page__content" itemprop="text">
        {{ content }}
        {% if page.link %}<div><a href="{{ page.link }}" class="btn">{{ site.data.ui-text[site.locale].ext_link_label | default: "Direct Link" }}</a></div>{% endif %}
      </section>
    
<div class="commenting">
  <form method="POST" action="https://api.staticman.net/v2/entry/annawees/annawees.github.io/_pages/comments">
    <input name="options[redirect]" type="hidden" value="https://my-site.com">
    <!-- e.g. "2016-01-02-this-is-a-post" -->
    <input name="options[slug]" type="hidden" value="{{ page.slug }}">
    <label><input name="fields[name]" type="text">Name</label>
    <label><textarea name="fields[message]"></textarea>Comment</label>
    <button type="submit">Go!</button>
  </form>
</div>

      <footer class="page__meta">
        {% if site.data.ui-text[site.locale].meta_label %}
          <h4 class="page__meta-title">{{ site.data.ui-text[site.locale].meta_label }}</h4>
        {% endif %}
        {% include page__taxonomy.html %}
        {% if page.modified %}
          <p class="page__date"><strong><i class="fa fa-fw fa-calendar" aria-hidden="true"></i> {{ site.data.ui-text[site.locale].date_label | default: "Updated:" }}</strong> <time datetime="{{ page.modified | date: "%Y-%m-%d" }}">{{ page.modified | date: "%B %d, %Y" }}</time></p>
        {% elsif page.date %}
          <p class="page__date"><strong><i class="fa fa-fw fa-calendar" aria-hidden="true"></i> {{ site.data.ui-text[site.locale].date_label | default: "Updated:" }}</strong> <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%B %d, %Y" }}</time></p>
        {% endif %}
      </footer>

      {% if page.share %}{% include social-share.html %}{% endif %}

      {% include post_pagination.html %}
    </div>

    {% if site.comments.provider and page.comments %}
      {% include comments.html %}
    {% endif %}
  </article>
  
  <button type="submit">Go!</button>
</form>

  {% comment %}<!-- only show related on a post page when not disabled -->{% endcomment %}
  {% if page.id and page.related and site.related_posts.size > 0 %}
    <div class="page__related">
      {% if site.data.ui-text[site.locale].related_label %}
        <h4 class="page__related-title">{{ site.data.ui-text[site.locale].related_label | default: "You May Also Enjoy" }}</h4>
      {% endif %}
      <div class="grid__wrapper">
        {% for post in site.related_posts limit:4 %}
          {% include archive-single.html type="grid" %}
        {% endfor %}
      </div>
    </div>
  {% endif %}
</div>
