---
layout: default
---

{% if page.header.overlay_color or page.header.overlay_image or page.header.image %}
  {% include page__hero.html %}
{% endif %}

{% if page.url != "/" and site.breadcrumbs %}
  {% unless paginator %}
    {% include breadcrumbs.html %}
  {% endunless %}
{% endif %}

<div id="main" role="main">

  <div class="page__inner-wrap">
      {% unless page.header.overlay_color or page.header.overlay_image %}
        <header>
          <div id="figure">
            {% if page.video %}
            <video width="100%" autoplay loop muted class="banner__video" poster="{{page.thumbnail}}">
              <source src="{{ page.video }}" type="video/mp4">
            </video>
            {% elsif page.thumbnail %}
            <img src="{{page.thumbnail}}"/>
            {% endif %}
            {% if page.title %}
            <div id="figcaption">
              <div id="box">
              <h1> {{ page.title | markdownify | remove: "<p>" | remove: "</p>" }}</h1>
              </div>
            </div>
            {% endif %}
          </div>
          
  <article class="page" itemscope itemtype="http://schema.org/CreativeWork">
    {% if page.title %}<meta itemprop="headline" content="{{ page.title | markdownify | strip_html | strip_newlines | escape_once | margin-top: 200px }}">{% endif %}
    {% if page.excerpt %}<meta itemprop="description" content="{{ page.excerpt | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
    {% if page.date %}<meta itemprop="datePublished" content="{{ page.date | date: "%B %d, %Y" }}">{% endif %}
    {% if page.modified %}<meta itemprop="dateModified" content="{{ page.modified | date: "%B %d, %Y" }}">{% endif %}

  
      {% endunless %}
      <div id= "spacer"> </div>
      {{ page.description}}
      <div id="spacer"> </div>
      
      <div id= "recipedetails">
      <div id= "time"> Time </div>
      <div id= "spice"> Spice </div>
      <div id= "serves"> Serves </div>
      </div>

      <div id= "recipenumbers">
      <div id= "time"><h3> {{ page.time }} </h3> </div>
      <div id= "spice"><h3> {{ page.spice }} </h3> </div>
      <div id= "serves"><h3> {{ page.serves }} </h3> </div>
      </div>

      <div id= "nutritiondetails">
      <div id="calories"> Calories </div>
      <div id="carbs"> Carbs </div>
      <div id="fiber"> Fiber </div>
      <div id="fat"> Fat </div>
      <div id="protein"> Protein </div>
      </div>

      <div id= "nutritionnumbers">
      <div id="calories"><h3> {{ page.calories }} </h3> </div>
      <div id="carbs"><h3> {{ page.carbs }}</h3> </div>
      <div id="fiber"><h3> {{ page.fiber }}</h3> </div>
      <div id="fat"><h3> {{ page.fat }}</h3> </div>
      <div id="protein"><h3> {{ page.protein }}</h3> </div>
      </div>
      
      <div id= "ingredienthdr">
      <h1>Ingredients</h1>
      </div>
      
       <div class="ingredients">
        <div id="ingredient1">{{page.ingredient1}}</div>
        <div id="ingredient2">{{page.ingredient2}}</div>
        <div id="ingredient3">{{page.ingredient3}}</div>
        <div id="ingredient4">{{page.ingredient4}}</div>
        </div>
      
      <div class="ingredients">
        <div id="ingredient5">{{page.ingredient5}}</div>
        <div id="ingredient6">{{page.ingredient6}}</div>
        <div id="ingredient7">{{page.ingredient7}}</div>
        <div id="ingredient8">{{page.ingredient8}}</div>
      </div>
      
      <div class="ingredients">
        <div id="ingredient9">{{page.ingredient9}}</div>
        <div id="ingredient10">{{page.ingredient10}}</div>
        <div id="ingredient11">{{page.ingredient11}}</div>
        <div id="ingredient12">{{page.ingredient12}}</div>
      </div>
      
      <div class="ingredients">
        <div id="ingredient13">{{page.ingredient13}}</div>
        <div id="ingredient14">{{page.ingredient14}}</div>
        <div id="ingredient15">{{page.ingredient15}}</div>
        <div id="ingredient16">{{page.ingredient16}}</div>
      </div>
      
      <div class="ingredients">
        <div id="ingredient13">{{page.ingredient17}}</div>
        <div id="ingredient14">{{page.ingredient18}}</div>
        <div id="ingredient15">{{page.ingredient19}}</div>
        <div id="ingredient16">{{page.ingredient20}}</div>
      </div>
  
<div id= "equipmenthdr">
<h1>Equipment</h1>
</div>
        
         <div class="equipment">
        <div id="equipment1">{{page.equipment1}}</div>
        <div id="equipment2">{{page.equipment2}}</div>
        <div id="equipment3">{{page.equipment3}}</div>
        <div id="equipment4">{{page.equipment4}}</div>
        </div>
    
        <div class="equipment">
        <div id="equipment5">{{page.equipment5}}</div>
        <div id="equipment6">{{page.equipment6}}</div>
        <div id="equipment7">{{page.equipment7}}</div>
        <div id="equipment8">{{page.equipment8}}</div>
        </div>
    
        <div id="preparation">
        <h1>Preparation</h1>
        </div>
    
        <div id="instruction">
        <div id="image1">{{page.image1}} </div>
        <div id="step1">{{page.step1}}</div>
        </div>  
         
        <div id="instruction">
        <div id="image2">{{page.image2}} </div>
        <div id="step2">{{page.step2}}</div>
        </div>
        
        <div id="instruction">
        <div id="image3">{{page.image3}} </div>
        <div id="step3">{{page.step3}}</div>
        </div> 
         
        <div id="instruction">
        <div id="image4">{{page.image4}} </div>
        <div id="step4">{{page.step4}}</div>
        </div>
        
        <div id="instruction">
        <div id="image5">{{page.image5}} </div>
        <div id="step5">{{page.step5}}</div>
        </div>
          
        <div id="instruction">
        <div id="image6">{{page.image6}} </div>
        <div id="step6">{{page.step6}}</div>
        </div>
        
        <div id="instruction">
        <div id="image7">{{page.image7}} </div>
        <div id="step7">{{page.step7}}</div>
        </div>
          
        <div id="instruction">
        <div id="image8">{{page.image8}} </div>
        <div id="step8">{{page.step8}}</div>
        </div>
         
        <div id="instruction">
        <div id="image9">{{page.image9}} </div>
        <div id="step9">{{page.step9}}</div>
        </div>
          
        <div id="instruction">
        <div id="image10">{{page.image10}} </div>
        <div id="step10">{{page.step10}}</div>
        </div>
          
        <div id="instruction">
        <div id="image11">{{page.image11}} </div>
        <div id="step11">{{page.step11}}</div>
        </div>
          
        <div id="instruction">
        <div id="image12">{{page.image12}} </div>
        <div id="step12">{{page.step12}}</div>
        </div>
    
        <div id="instruction">
        <div id="image13">{{page.image13}} </div>
        <div id="step13">{{page.step13}}</div>
        </div>
        
        <div id="instruction">
        <div id="image14">{{page.image14}} </div>
        <div id="step14">{{page.step14}}</div>
        </div>
        
        <div id="instruction">
        <div id="image15">{{page.image15}} </div>
        <div id="step15">{{page.step15}}</div>
        </div>
          
        <div id="instruction">
        <div id="image16">{{page.image16}} </div>
        <div id="step16">{{page.step16}}</div>
        </div>
          
        <div id="instruction">
        <div id="image17">{{page.image17}} </div>
        <div id="step17">{{page.step17}}</div>
        </div>
    
      <section class="page__content" itemprop="text">
        {{ content }}
        {% if page.link %}<div><a href="{{ page.link }}" class="btn">{{ site.data.ui-text[site.locale].ext_link_label | default: "Direct Link" }}</a></div>{% endif %}
      </section>
    

      <footer class="page__meta">
        {% if site.data.ui-text[site.locale].meta_label %}
          <h4 class="page__meta-title">{{ site.data.ui-text[site.locale].meta_label }}</h4>
        {% endif %}
        {% include page__taxonomy.html %}
        {% if page.modified %}
          <p class="page__date"><strong><i class="fa fa-fw fa-calendar" aria-hidden="true"></i> {{ site.data.ui-text[site.locale].date_label | default: "Updated:" }}</strong> <time datetime="{{ page.modified | date: "%Y-%m-%d" }}">{{ page.modified | date: "%B %d, %Y" }}</time></p>
        {% elsif page.date %}
          <p class="page__date"><strong><i class="fa fa-fw fa-calendar" aria-hidden="true"></i> {{ site.data.ui-text[site.locale].date_label | default: "Updated:" }}</strong> <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%B %d, %Y" }}</time></p>
        {% endif %}
      </footer>
      {% if page.share %}{% include social-share.html %}{% endif %}
      {% include post_pagination.html %}

    {% if site.comments.provider and page.comments %}
      {% include comments.html %}
    {% endif %}
  </article>
  
  {% comment %}<!-- only show related on a post page when not disabled -->{% endcomment %}
  {% if page.id and page.related and site.related_posts.size > 0 %}
    <div class="page__related">
      {% if site.data.ui-text[site.locale].related_label %}
        <h4 class="page__related-title">{{ site.data.ui-text[site.locale].related_label | default: "You May Also Enjoy" }}</h4>
      {% endif %}
      <div class="grid__wrapper">
        {% for post in site.related_posts limit:4 %}
          {% include archive-single.html type="grid" %}
        {% endfor %}
      </div>
    </div>
  {% endif %}
</div>
